.card{
    background-color: lightblue;
    max-width: 350px;
    padding: 10px;
    margin: 10px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
  }
  .card__tittle{
    font-size: 26px;
  }
  .card__img{
    
    max-height: 300px;
  }
  .card__desc{
    font-size: 18x;
  }
